<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/OCFR.css">

    <title>OCFR</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="nav-logo" href="home.html">O.C.F.R.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members.html">Members</a>
          </li>
          <li class="nav-item" style:"padding-left:10px">
            <a class="navbar-brand" href="certifications.html">Certifications</a>
          </li>
        </ul>
      </div>
    </nav>


    <br></br>
    <br></br>

    <div id="index">
      <table align="center" class="table table-bordered table-hover table-striped text-center">
        <h1> Certifications</h1>
        <thead>
          <th><b>ID</b></th>
          <th><b>Certification</b></th>
          <th><b>Agency</b></th>
          <th><b>Expiration Period</b></th>
        </thead>
        <tbody>
          <tr v-for="cert in certInfo">
            <td>{{ cert.CertificationID }}</td>
            <td>{{ cert.CertificationName }}</td>
            <td>{{ cert.CertifyingAgency }}</td>
            <td>{{ cert.ExpirationPeriod }}</td>
            <td><input type='button' value='Delete' v-on:click='deleteCertification(cert.CertificationID)'  onclick="windows.location.reload()"></td>
            <a href = "certDetail.html" role = "button" class = "btn btn-info">View Certificate Details</a>
          </tr>
        </tbody>
      </table>

      <form v-on:submit.prevent="addCert()" id="newCertForm">
        <div class="form-group">
          <label for="CertificationName">Certification Name</label> &nbsp;
          <input type="text" id="CertificationName" v-model="newCert.CertificationName" class="form-control"  placeholder="Certification Name" required>
        </div>
        <div class="form-group">
          <label for="CertifyingAgency">Certification Agency</label> &nbsp;
          <input type="text" id="CertifyingAgency" v-model="newCert.CertifyingAgency" class="form-control"  placeholder="Certification Agency" required>
        </div>
        <div class="form-group">
          <label for="ExpirationPeriod">Expiration Period</label> &nbsp;
          <input type="number" id="ExpirationPeriod" v-model="newCert.ExpirationPeriod" class="form-control"  placeholder="Expiration Period" required>
        </div>
        <button type="submit" value="Create Certification" class="btn btn-primary">Create</button>
      </form>
    </div>



    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- BootStrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="js/index.js"></script>
  </body>
</html>
